@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;

}

html {
    scroll-behavior: smooth;
    /*movimento suave do mouse*/
}

:root {
    --principal: #17153B;
    --secundaria: #2E236C;
    --claro: #FFFFFF;
    --detalhes: #C8ACD6;
    --tercearia: #433D8B;
    --maisescuro: #000000;
    --vidro: rgba(46, 35, 108, 0.5);
    --texto: #ffffffb4;



}

body {
    background: var(--principal);
    color: var(--claro);
}

.navegacao {
    position: fixed
        /*fixado quando rola a pagina*/
    ;
    top: 0;
    background: var(--vidro);
    width: 100%;
    z-index: 100;
    /*define quem fica na frente de quem*/
    padding: 1.5rem;

}

.menu {
    display: flex;
    justify-content: center;
    list-style: none;
    /*bolinha do topicos*/
    gap: 3rem;
}

.menu_itens {
    text-decoration: none;
    color: var(--claro);
    font-weight: 500;
    position: relative;
    padding: 0.5rem 0;

}

.menu_itens::after {
    content: '';
    height: 2px;
    width: 0%;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: var(--claro);
    transition: width 0.5s ease;

}

.menu_itens:hover::after {
    width: 100%;

}

.cabecalho {
    min-height: 100vh;
    /*tela toda*/
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(./img/fundosobremim.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

.fotoinicio {
    width: 200px;
    box-shadow: 13px 5px 15px 5px rgba(255, 255, 255, 0.137);
    border-radius: 50%;
    border: 0.2px solid var(--detalhes);
    animation: flutuar 5s ease-in-out infinite;

}

h1 {
    font-size: 3.5rem;
    color: var(--detalhes);
    font-weight: bold;
    margin: 20px;
}

.subtitulo-cabecalho {
    font-size: 1rem;
    color: var(--claro);
}

.sobremim {
    min-height: 100vh;
    padding: 20px;
    display: flex;
    align-items: center;

}

.sobre {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    gap: 50px;
    margin: 80px;

}

.sobre-titulo {
    font-size: 60px;
    padding-right: 25%;
    padding-left: 5%;


}

.sobre-caixa {
    background: var(--vidro);
    padding: 30px;
    border-radius: 20px;
}

.paragrafo_sobre {
    color: var(--texto);
    font-size: 18px;
}

.projetos {
    padding: 6rem 2rem;

}

.projetos-titulo {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    font-size: 60px;

}



.titulo-projeto {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 1.5rem;
    padding: 20px 20px 0px 20px;
}

.paragrafo-projeto {
    color: var(--texto);
    font-size: 18px;
    padding: 5px 20px 20px 20px;
}

.projetos-caixa {
    background: var(--secundaria);
    border-radius: 16px;
    backdrop-filter: blur(10px);
    border: 1px solid var(--principal);
    padding: 0 0px 20px 0px;
    transition: all 0.5s ease;
    cursor: pointer;
}

.projetos-caixa:hover {
    box-shadow: 0 10px 20px var(--secundaria);
    transform: translateY(-10px) scale(1.03)
}

.projetos_card {
    display: flex;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    max-width: 1200px;
    margin: 0 auto;

}



.projetos_imagem {
    height: 200px;
    width: 100%;
    object-fit: cover;
    /*cobrir a area*/
    border-radius: 10px;

}


.contato-titulo {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    font-size: 60px;


}

.formulario {
    max-width: 600px;
    margin: 0 auto;
    background: var(--secundaria);
    padding: 2rem;
    border: 1px solid var(--principal);
    border-radius: 8px;

}

.campo-form {
    margin-bottom: 1.5rem;
}

.campo {
    width: 100%;
    padding: 1rem;
    background: var(--principal);
    border-radius: 8px;
    color: var(--claro);
    margin: 5px;
    border: 1px solid var(--principal);
    outline: none;
}

.campo:focus {
    border-color: var(--detalhes);
    box-shadow: 0 0 10px var(--maisescuro);
}

.botao_formulario {
    display: flex;
    justify-content: center;

}

.botao {
    color: var(--texto);
    background: linear-gradient(45 deg, var(--principal), var(--secundaria));
    padding: 1rem 1rem;
    border: 2px solid var(--principal);
    ;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    width: 100%;
    transition: all 0.5s ease;
}

.botao:hover {
    transform: translateY(-4px);
    box-shadow: 0 0 10px var(--maisescuro)
}

.rodape{
   margin: 60px 0 0 0;
    padding: 20px 0 20px 0 ;
    background: var(--vidro);

}

.rodape_div{
    display: flex;
    justify-content: center;
    color: var(--texto);
}


.particulas{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.5;
    background:
    radial-gradient(circle at 10% 20%, var(--secundaria) 0%, transparent 20%),
    radial-gradient(circle at 90% 80%, var(--secundaria) 0%, transparent 20%),
    var(--maisescuro);

}

@keyframes flutuar{
    0%, 100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }
}
